<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>RestHibernate.WareHouseManagement</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInfoServlet</display-name>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <servlet-class>Servlets.CustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInfoServlet</servlet-name>
    <url-pattern>/CustomerInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomerServlet</display-name>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <servlet-class>Servlets.CreateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <url-pattern>/CreateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDetailsServlet</display-name>
    <servlet-name>ItemDetailsServlet</servlet-name>
    <servlet-class>Servlets.ItemDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetailsServlet</servlet-name>
    <url-pattern>/ItemDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewItemServlet</display-name>
    <servlet-name>NewItemServlet</servlet-name>
    <servlet-class>Servlets.NewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewItemServlet</servlet-name>
    <url-pattern>/NewItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemDetailsResource</display-name>
    <servlet-name>ItemDetailsResource</servlet-name>
    <servlet-class>RestHibernate.WareHouseManagement.ItemDetailsResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDetailsResource</servlet-name>
    <url-pattern>/ItemDetailsResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemInfoServlet</display-name>
    <servlet-name>ItemInfoServlet</servlet-name>
    <servlet-class>Servlets.ItemInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemInfoServlet</servlet-name>
    <url-pattern>/ItemInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStockServlet</display-name>
    <servlet-name>AddStockServlet</servlet-name>
    <servlet-class>Servlets.AddStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStockServlet</servlet-name>
    <url-pattern>/AddStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockServlet</display-name>
    <servlet-name>StockServlet</servlet-name>
    <servlet-class>Servlets.StockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockServlet</servlet-name>
    <url-pattern>/StockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckStockServlet</display-name>
    <servlet-name>CheckStockServlet</servlet-name>
    <servlet-class>Servlets.CheckStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckStockServlet</servlet-name>
    <url-pattern>/CheckStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingServlet</display-name>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>Servlets.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTransactionServlet</display-name>
    <servlet-name>CancelTransactionServlet</servlet-name>
    <servlet-class>Servlets.CancelTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTransactionServlet</servlet-name>
    <url-pattern>/CancelTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionsServlet</display-name>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <servlet-class>Servlets.ViewTransactionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionsServlet</servlet-name>
    <url-pattern>/ViewTransactionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionServlet</display-name>
    <servlet-name>ViewTransactionServlet</servlet-name>
    <servlet-class>Servlets.ViewTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionServlet</servlet-name>
    <url-pattern>/ViewTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTransactionServlet</display-name>
    <servlet-name>DisplayTransactionServlet</servlet-name>
    <servlet-class>Servlets.DisplayTransactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTransactionServlet</servlet-name>
    <url-pattern>/DisplayTransactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMerchantDetailsServlet</display-name>
    <servlet-name>AddMerchantDetailsServlet</servlet-name>
    <servlet-class>Servlets.AddMerchantDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMerchantDetailsServlet</servlet-name>
    <url-pattern>/AddMerchantDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseStockServlet</display-name>
    <servlet-name>PurchaseStockServlet</servlet-name>
    <servlet-class>Servlets.PurchaseStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseStockServlet</servlet-name>
    <url-pattern>/PurchaseStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantHomeServlet</display-name>
    <servlet-name>MerchantHomeServlet</servlet-name>
    <servlet-class>Servlets.MerchantHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantHomeServlet</servlet-name>
    <url-pattern>/MerchantHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MerchantLoginServlet</display-name>
    <servlet-name>MerchantLoginServlet</servlet-name>
    <servlet-class>Servlets.MerchantLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantLoginServlet</servlet-name>
    <url-pattern>/MerchantLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderActionServlet</display-name>
    <servlet-name>OrderActionServlet</servlet-name>
    <servlet-class>Servlets.OrderActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderActionServlet</servlet-name>
    <url-pattern>/OrderActionServlet</url-pattern>
  </servlet-mapping>
</web-app>